Repository jagretz/R3: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint:staged, npm run prettier, stylelint:fix, npm run stylelint

.lintstagedrc:

{
    "*.js": [
        "npm run eslint:staged",
        "npm run prettier",
        "git add"
    ],
    "*.css": [
        "stylelint:fix",
        "npm run stylelint",
        "git add"
    ]
}

initial eslint extensions for airbnb, prettier and a few custom overrides
  .eslintrc
Due: none

Add rules for eslint
  .eslintrc
  eslint-base.js
  eslint-react.js
Due: npm run eslint:staged, npm run prettier

stylelint addition/updates
  .stylelintrc
Due: none

Update jest configuration
  jestConfig/configureEnzymeAdapter.js
  jestConfig/console.js
  jestConfig/readme.md
  package.json
Due: npm run eslint:staged, npm run prettier

Update jest config/setup & remove CRA README boilerplate
  README.md
  jestConfig/console.js
  jestConfig/readme.md
  package.json
Due: npm run eslint:staged, npm run prettier

Update to the troubleshooting section
  README.md
Due: none

Minor update to readme > troubleshooting
  README.md
Due: none

Add testing documenation to the raedme
  README.md
Due: none

Remove deprecated cssnext in favor of preset-env
  package.json
  rewireConfig/cssModules.js
Due: npm run eslint:staged, npm run prettier

Update eslint rules and cleanup eslint errors
  .eslintignore
  .eslintrc
  config-overrides.js
  eslint-base.js
  eslint-react.js
  jestConfig/configureEnzymeAdapter.js
  package-lock.json
  package.json
  rewireConfig/cssModules.js
  rewireConfig/pipeableOperators.js
  src/App.js
  src/App.test.js
  src/index.js
  src/registerServiceWorker.js
Due: npm run eslint:staged, npm run prettier

Updates to es linter (eslint) and css linter (stylelint)
  .lintstagedrc
  .stylelintrc
  README.md
  package-lock.json
  package.json
  src/App.css
Due: stylelint:fix, npm run stylelint

Add documentaion about jsdoc
  README.md
Due: none

Update package-lock with latest versions
  package-lock.json
Due: none

Update deps
  .editorconfig
  package.json
Due: none

linter updates
  .lintstagedrc
  .prettierrc
  eslint-base.js
  package-lock.json
  package.json
Due: npm run eslint:staged, npm run prettier

Update code comments
  config-overrides.js
  rewireConfig/cssModules.js
Due: npm run eslint:staged, npm run prettier

update package.lock
  package-lock.json
  package.json
Due: none

Add static server ref and build script with a 'how to' section
  README.md
  package-lock.json
  package.json
Due: none

Update deps
  package-lock.json
  package.json
Due: none

Add keywords, author, license to package.json
  package.json
Due: none

Update prettier and run with new formating applied to files
  eslint-base.js
  rewireConfig/cssModules.js
  src/registerServiceWorker.js
Due: npm run eslint:staged, npm run prettier

Upgrade rxjs to latest
  package-lock.json
  package.json
Due: none

Fix .editorconfig indentation settings
  .editorconfig
Due: none

Update docs ever so slightly :)
  README.md
  package-lock.json
  package.json
Due: none

Fix TOC
  README.md
Due: none

Update config
  .editorconfig
  .gitignore
Due: none

Update readme
  README.md
Due: none
